
.main-container {
  padding: 30px;
  display: grid;
  grid-template-rows: 20% 80%;
  height: max-content;
}

  /* IMAGE */

  .trex {
    grid-row: 2;
    object-fit: cover;
    max-height: 100%;
    padding-top: 5px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 2px;
    display: flex;
    justify-content: center;
  }
